*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

html{
     font-size: 62.5%;
     font-family: 'Kumbh Sans', sans-serif;
}

body{
     background: rgb(175,103,233);
     background: linear-gradient(0deg, rgba(101,101,231,1) 0%,  rgba(175,103,233,1) 100%);
}

main{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100vw;
     height: 100vh;
}

.main-card-container{
     width: 90%;
     min-width: 288px;
     max-width: 400px;
     height: auto;
     margin: 0 auto;
     background-color: white;
     position: relative;
     border-radius: 10px;
     display: flex;
}

.main-card--img{
     /* padding-top: 100px; */
     /* position: absolute;
     width: 80%;
     top: -40px;
     left: calc(50% - 45%);
     margin: 0 auto; */
}

.main-card--img .mobile-img{
     /* width: 100%; */
     /* text-align: center; */
     position: absolute;
     width: 80%;
     top: -40px;
     left: calc(50% - 45%);
     margin: 0 auto;
}

.mobile-img{
     display: block;
}

.desktop-img{
     display: none;
}

.main-card--title{
     padding-top: 70%;
     padding-bottom: 15px;
}

.main-card--title h2{
     font-size: 3rem;
     font-weight: 700;
     text-align: center;
}

.main-card--text{
     width: 80%;
     margin: 0 auto;
}

.desglosable{
     border-bottom: 1px solid hsl(240, 5%, 91%);
     margin: 20px 0;
}

.pregunta{
     font-size: 1.2rem;
     margin-bottom: 10px;
}

.respuesta{
     font-size: 1.2rem;
     margin-top: 10px;
     display: none;
     margin-bottom: 10px;
}

@media(min-width: 1024px){
     .main-card-container {
          min-width: 348px;
          max-width: 70%;
          margin: 0 auto;
          height: 60%;
     }

     .main-card--img{
          width: 50%;
          position: relative;
          overflow: hidden;
     }


     .mobile-img{
          display: none;
     }

     .main-card--img .desktop-img{
          position: absolute;
          width: 100%;
          top: 30px;
          left: calc(50% - 70%);
          margin: 0 auto;
     }

     .desktop-img{
          display: block;
     }

     .main-card--title{
          padding-top: 15%;
          padding-bottom: 5%;
     }

     .main-card--title h2{
          text-align: left;
          font-size: 2rem;
     }

     .main-card--text{
          width: 50%;
     }

     .desglosable{
          width: 80%;
     }

     .pregunta{
          font-size: 1.1rem;
     }

     .respuesta{
          font-size: 1.1rem;
     }
}

@media(min-width: 1440px){
     .main-card-container {
          min-width: 348px;
          max-width: 70%;
          margin: 0 auto;
          height: 75%;
     }

     .main-card--img .desktop-img{
          position: absolute;
          width: 100%;
          top: 60px;
          left: calc(50% - 70%);
          margin: 0 auto;
     }

     .main-card--title h2{
          text-align: left;
          font-size: 3.5rem;
     }

     .pregunta{
          font-size: 1.8rem;
     }

     .respuesta{
          font-size: 1.8rem;
     }
}