main{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 60px;
}

section{
    width: 50%;
}

.main-section--title h1{
    font-size: 5rem;
    line-height: 4.4rem;
    text-align: left;
}

.main-section--title p{
    /* padding: 0 0 0 120px; */
    text-align: left;
    font-size: 1.6rem;
}

.main-section--info{
    width: 80%;
}

.main-section--info p{
    font-size: 1.4rem;
}

.main-section--form{
    width: 80%;
}